<div class="container">
<footer class="pt-4 my-md-3 pt-md-5 border-top">
  <div style="text-align: center;" class="row">
    <div class="col-12 col-md">
      <!-- <img class="mb-2" [src]=path alt="ABBBBC" width="24" height="24"> -->
      <small class="d-block mb-3 text-muted">&copy; 2022 FOCUS</small>
    </div>
    <div class="col-6 col-md">
      <h5>School</h5>
      <ul class="list-unstyled text-small">
        <li>Computer Science Department of Cukurova University Saricam,Adana,Turkey</li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Project Developed by</h5>
      <ul class="list-unstyled text-small">
        <li>&copy;FOCUS TEAM</li>

      </ul>
    </div>
  </div>
</footer>
</div>