<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome To BytePazarı</h1>
        <p class="lead text-muted">The purpose of this WebSite is to present an idea to people who want to buy a computer and recommend a suitable computer for them. In addition, one of the aims of the project is to provide a sales platform to people who want to generate income by selling second-hand computers and to companies that want to sell their own computers.</p>
        <p>
          <button style="margin-top: 5%;scroll-behavior: smooth;" routerLink="discover" class="btn btn-primary">
              Discover
          </button>
        </p>
      </div>
    </div>
  </section>