<body class="text-center py-lg-5">
  <main class="form-signin py-5">
    <form class="py-lg-5"  [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input
        formControlName="Name"
          type="Name"
          class="form-control"
          id="Name"
          placeholder="Name"
        />
        <label for="Name">Name</label>
      </div>
      <div class="form-floating">
        <input
        formControlName="Email"
          type="Email"
          class="form-control"
          id="Email"
          placeholder="name@example.com"
        />
        <label for="Email">Email address</label>
      </div>
      <div class="form-floating">
        <input
        formControlName="Password"
          type="Password"
          class="form-control"
          id="Password"
          placeholder="Password"
        />
        <label for="Password">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button (click)="login()" class="w-100 btn btn-lg btn-primary">
        Sign in
      </button>
     <a routerLink="/register"> <button class="mt-4 btn btn-dark w-100">Don't have an account</button> </a>
      <p class="mt-5 mb-3 text-muted">&copy; 2022 FOCUS</p>
    </form>
  </main>
</body>
