<body class="text-center">
  <main class="form-signin">
    <form  [formGroup]="loginForm">
      <img
        class="mb-4"
        src="/docs/5.1/assets/brand/bootstrap-logo.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input
        formControlName="Name"
          type="Name"
          class="form-control"
          id="Name"
          placeholder="Name"
        />
        <label for="Name">Name</label>
      </div>
      <div class="form-floating">
        <input
        formControlName="Email"
          type="Email"
          class="form-control"
          id="Email"
          placeholder="name@example.com"
        />
        <label for="Email">Email address</label>
      </div>
      <div class="form-floating">
        <input
        formControlName="Password"
          type="Password"
          class="form-control"
          id="Password"
          placeholder="Password"
        />
        <label for="Password">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button (click)="login()" class="w-100 btn btn-lg btn-primary">
        Sign in
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main>
</body>
